<header>
  <h1>Poseidon Weather Display</h1>
</header>

<section>
  <%= form_with url: "/display", class: 'box', method: :get do |form| %>
  <%= form.label :query, "Your five digit zipcode:" %>
  <%= form.search_field :zipcode %>
  <%= form.submit "Submit", :class => 'submit_button' %>
  <% end %>
</section>